@font-face {
  font-family: "nekst-regular";
  src: url("./assets/fonts/nekst-regular.otf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "nekst-regular"
}
html {
  font-size: 62, 5%;
}
body {
  box-sizing: border-box;
  background-image: url("./assets/PDP.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.timer-container::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 41, 48, 0.6);
  z-index: -1;
}
.timer-container {
  height: 100vh;
}
.timer-container h2 {
  text-align: center;
  color: #f2f2f2;
  font-size: 50px;
  line-height: 77px;
  font-weight: 400;
  text-transform: uppercase;
}
.timer {
  width: 100%;
}
.timer .clock {
  padding: 10px;
  width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.timer .clock section {
  width: 33%;
  margin: 2px;
  padding: 10px;
  text-align: center;
}
.timer .clock section p {
  padding: 5px;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 320px;
  line-height: 250px;
  text-shadow: 22.3716px 2.48573px 16.1573px rgba(0, 0, 0, 0.25);
}
.timer .clock section span {
  padding: 10px;
  margin: 10px;
  font-size: 50px;
  line-height: 100px;
  text-transform: uppercase;
  color: #9eff50;
  padding-top: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}
.buttons > button {
  padding: 21px;
  border-radius: 50%;
  border: 10px solid #f2f2f2;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.buttons > button:nth-child(2){
  width: 120px;
  height: 120px;
}
.buttons > button:nth-child(2) > .pause {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 110%;
}
.buttons > button:nth-child(2) > .pause > img{
  width: 1;
  width: 50px;
  height: 50px;
}
.buttons > button:nth-child(2) > .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.buttons > button:nth-child(2) > .play > img{
  width: 50px;
  height: 50px;
}

.buttons button img {
  line-height: 50px;
}
